<!DOCTYPE html>
<html lang="en">
<head th:include="tmpl-head :: head">
    <title>Sobre este servidor</title>
</head>

<body>
<form action="" method="get" id="outerForm">
    <div th:replace="tmpl-navbar-top :: top"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="tmpl-navbar-left :: left"></div>

            <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

                <div th:replace="tmpl-banner :: banner"></div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sobre este servidor</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Este servidor foi instanciado pelo chapter HL7 Portugal para ajudar a implementação e testes de FHIR em Portugal. Esta implementação da especificação FHIR 
                             usa uma stack totalmente open source.
                        </p>
                        <p>
                            Este servidor é contruido sobre um numero de módulos open source como o  projecto
                            <a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
                            que é uma implementação 100% open-source (Apache 2.0 Licensed) da especficação FHIR.
                        </p>
                        <p>
                            <a style="color:red;">Este Servidor é <b>DE TESTES</b></a> e não deve ser usado para fins de produção.
                            Além disso não deve ser usado com dados reais, potencialmente sensíveis, ou dados de pacientes.
                
                            Para qualquer dúvida, enviar email para <a href="mailto:tech@hl7.pt">  tech[@]hl7 dot pt  </a>
                
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dados deste Servidor</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
<p> Dados mock ou de testes apenas!</p>
            </div>
        </div>
    </div>

    <div th:replace="tmpl-footer :: footer"></div>
</form>
</body>
</html>
