<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			Este servidor foi instanciado pelo chapter HL7 Portugal para ajudar a implementação e testes de FHIR em Portugal. Esta implementação da especificação FHIR 
			 usa uma stack totalmente open source.
		</p>
		<p>
			Este servidor é contruido sobre um numero de módulos open source como o  projecto
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			que é uma implementação 100% open-source (Apache 2.0 Licensed) da especficação FHIR.
		</p>
		<p>
			<a style="color:red;">Este Servidor é <b>DE TESTES</b></a> e não deve ser usado para fins de produção.
			Além disso não deve ser usado com dados reais, potencialmente sensíveis, ou dados de pacientes.

			Para qualquer dúvida, enviar email para <a href="mailto:tech@hl7.pt">  tech[@]hl7 dot pt  </a>

		</p>
	</div>
</html>
